<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <h3 class="box-title product-title">Información del Producto</h3>
                                <hr class="m-t-0 m-b-40">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">
                                        <i class="fa fa-tag mr-1"></i> Nombre:
                                    </label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> {{producto.nomart}} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">
                                        <i class="fa fa-copyright mr-1"></i> Marca:
                                    </label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> {{producto.marca}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card stock-panel mt-3 mb-3">
                            <div class="card-header inventory-header">
                                <i class="fa fa-warehouse mr-2"></i> Información de Stock
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stk Deposito:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static stock-value"> {{producto.exi1}} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stk C.Central:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static stock-value"> {{producto.exi2}} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stk V.Viejo:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static stock-value"> {{producto.exi3}} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stk Guemes:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static stock-value"> {{producto.exi4}} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stk Mayorista:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static stock-value"> {{producto.exi5}} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card price-panel mb-4">
                            <div class="card-header price-header">
                                <i class="fa fa-tag mr-2"></i> Precios Disponibles
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-5">Pcio Contado:</label>
                                            <div class="col-md-7">
                                                <p class="form-control-static price-value"> {{producto.precon}} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-5">Pcio Tarjeta:</label>
                                            <div class="col-md-7">
                                                <p class="form-control-static price-value"> {{producto.prefi2}} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-5">Pcio Lista:</label>
                                            <div class="col-md-7">
                                                <p class="form-control-static price-value"> {{producto.prefi1}} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="box-title pedido-title">
                            <i class="fa fa-shopping-cart mr-2"></i> Solicitud de Stock
                        </h3>
                        <hr class="m-t-0 m-b-40">
                       <!--  <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Cantidad:</label>
                                    <div class="col-md-9">
                                        <input type="number" name="cantidad" [(ngModel)]="cantidad"
                                            
                                            placeholder="Introduce un número">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">TOTAL:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">{{precioTotal}}</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                 <!--    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-success" (click)="comprar($event)"> <i
                                                class="fa fa-shopping-cart"></i> Pedir</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div> -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <div class="row mb-3">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="cantidad">
                                                        <i class="fa fa-sort-numeric-up mr-1"></i> Cantidad:
                                                    </label>
                                                    <input type="number" 
                                                           id="cantidad" 
                                                           name="cantidad"
                                                           class="form-control" 
                                                           [(ngModel)]="cantidad" 
                                                           placeholder="Ingrese cantidad"
                                                           required>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="sucursal">
                                                        <i class="fa fa-building mr-1"></i> Sucursal:
                                                    </label>
                                                    <select id="sucursal" 
                                                            name="sucursal"
                                                            class="form-control custom-select" 
                                                            [(ngModel)]="selectedSucursal" 
                                                            required>
                                                        <option value="" disabled selected>Seleccione sucursal</option>
                                                        <option *ngFor="let sucursal of sucursales" [value]="sucursal.value">
                                                            {{ sucursal.label }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="comentario">
                                                        <i class="fa fa-comment mr-1"></i> Comentario:
                                                    </label>
                                                    <input type="text" 
                                                           id="comentario" 
                                                           name="comentario"
                                                           class="form-control" 
                                                           [(ngModel)]="comentario" 
                                                           placeholder="Ingrese un comentario (opcional)">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" 
                                                class="btn btn-warning btn-solicitar" 
                                                (click)="comprar($event)" 
                                                [disabled]="!cantidad || cantidad <= 0 || !selectedSucursal">
                                            <i class="fa fa-inbox"></i> Solicitar Stock
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
