<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="rubroForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                    <div class="form-body">
                        <h3 class="box-title">Editar Rubro</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-6">
                                <div *ngIf="this.codigoFlag" class="form-group row has-danger">
                                    <label class="control-label text-right col-md-3">Código *</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" formControlName="cod_rubro" placeholder="">
                                        <small class="form-control-feedback">Máximo 4 caracteres alfanuméricos</small>
                                    </div>
                                </div>
                                <div *ngIf="!this.codigoFlag" class="form-group row">
                                    <label class="control-label text-right col-md-3">Código *</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" formControlName="cod_rubro" placeholder="">
                                        <small class="form-control-feedback">Máximo 4 caracteres alfanuméricos</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div *ngIf="this.rubroFlag" class="form-group row has-danger">
                                    <label class="control-label text-right col-md-3">Rubro *</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" formControlName="rubro" placeholder="">
                                        <small class="form-control-feedback">Máximo 30 caracteres alfanuméricos</small>
                                    </div>
                                </div>
                                <div *ngIf="!this.rubroFlag" class="form-group row">
                                    <label class="control-label text-right col-md-3">Rubro *</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" formControlName="rubro" placeholder="">
                                        <small class="form-control-feedback">Máximo 30 caracteres alfanuméricos</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div *ngIf="this.numeradorFlag" class="form-group row has-danger">
                                    <label class="control-label text-right col-md-3">Numerador *</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" formControlName="numerador" placeholder="">
                                        <small class="form-control-feedback">Valor numérico (máx. 4 dígitos)</small>
                                    </div>
                                </div>
                                <div *ngIf="!this.numeradorFlag" class="form-group row">
                                    <label class="control-label text-right col-md-3">Numerador *</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" formControlName="numerador" placeholder="">
                                        <small class="form-control-feedback">Valor numérico (máx. 4 dígitos)</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Mod. Precio *</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" formControlName="modiprecio" placeholder="">
                                        <small class="form-control-feedback">Valor numérico (0 o 1)</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Mod. Descri *</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" formControlName="modidescri" placeholder="">
                                        <small class="form-control-feedback">Valor numérico (0 o 1)</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Cod. Depo *</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" formControlName="cod_depo" placeholder="">
                                        <small class="form-control-feedback">Valor numérico (máx. 6 dígitos)</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Must. Uni *</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" formControlName="mustuni" placeholder="">
                                        <small class="form-control-feedback">Valor numérico (0 o 1)</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-success" [disabled]="!rubroForm.valid">Actualizar</button>
                                        <button type="button" class="btn btn-inverse" (click)="onCancel()">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
