<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{clienteFrompuntoVenta.nombre}} 
            <span class="badge badge-info" *ngIf="codTarj">Lista de Precios: {{tipoVal}}</span>
        </h4>
        <div class="btn-group ml-2">
            <button type="button" class="btn btn-info">{{tipoVal}}</button>
            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu scroll_list">
                <input type="text" class="form-control " placeholder="Buscar..." [(ngModel)]="searchText">
                <li *ngFor="let item of filteredTipo | filter: searchText">
                    <a class="dropdown-item" (click)="selectTipo(item)" [class.active]="codTarj === item.cod_tarj">
                        {{item.tarjeta }} <i *ngIf="codTarj === item.cod_tarj" class="fas fa-check ml-2"></i>
                    </a>
                </li>
            </div>
        </div>
        <div>
            <p-table #dtable [value]="productos" [columns]="selectedColumns" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="false"
                [globalFilterFields]="['nomart', 'marca']">
                <ng-template pTemplate="caption">
                    <div class="d-flex flex-row align-items-center">
                        <!-- Caja de búsqueda similar a articulos -->
                        <div class="search-container">
                            <div class="input-group">
                                <input type="text" class="form-control" 
                                    [(ngModel)]="terminoBusqueda"
                                    placeholder="Buscar productos..." 
                                    (input)="onSearchInput($any($event.target).value)"
                                    (keyup.enter)="buscarProductos(terminoBusqueda)" />
                                <div class="input-group-append">
                                    <p-button icon="pi pi-search" styleClass="p-button-sm p-button-info ml-1" 
                                        (click)="buscarProductos(terminoBusqueda)" [disabled]="loading || cargandoProductos"></p-button>
                                    <p-button icon="pi pi-times" styleClass="p-button-sm p-button-secondary ml-1" 
                                        (click)="limpiarBusqueda()" *ngIf="terminoBusqueda" [disabled]="loading || cargandoProductos"></p-button>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Columnas selector -->
                        <div class="ml-2 columnas-container">
                            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                selectedItemsLabel="{0} Columnas Seleccionadas" 
                                placeholder="Elija Columnas">
                            </p-multiSelect>
                        </div>
                        
                        
                        <!-- Botón exportar Excel -->
                        <div class="ml-2">
                            <p-button icon="pi pi-file-excel" (click)="exportExcel()"
                                styleClass="p-button-success"></p-button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                            <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
                        </th>
                        <th style="width:20%">Select</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-producto let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{producto[col.field]}}
                        </td>
                        <td>
                            <p-button icon="pi pi-cart-plus" (click)="selectProducto(producto)"
                                styleClass="p-button-sm p-button-info"> </p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            
            <!-- Paginación personalizada similar a articulos -->
            <div class="pagination-container mt-3 d-flex justify-content-between align-items-center" *ngIf="totalPaginas > 0">
                <div>
                    <span class="pagination-info">
                        Mostrando página {{ paginaActual }} de {{ totalPaginas }} | Total: {{ totalItems }} items
                    </span>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination mb-0">
                        <!-- Botón para primera página -->
                        <li class="page-item" [class.disabled]="paginaActual === 1">
                            <a class="page-link" href="javascript:void(0)" (click)="irAPagina(1)">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        
                        <!-- Botón página anterior -->
                        <li class="page-item" [class.disabled]="paginaActual === 1">
                            <a class="page-link" href="javascript:void(0)" (click)="paginaAnterior()">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        
                        <!-- Páginas numeradas -->
                        <li class="page-item" [class.active]="paginaActual === p" *ngFor="let p of getPaginasVisibles()">
                            <a class="page-link" href="javascript:void(0)" (click)="irAPagina(p)">{{ p }}</a>
                        </li>
                        
                        <!-- Botón página siguiente -->
                        <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
                            <a class="page-link" href="javascript:void(0)" (click)="paginaSiguiente()">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        
                        <!-- Botón para última página -->
                        <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
                            <a class="page-link" href="javascript:void(0)" (click)="irAPagina(totalPaginas)">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>