<div class="card">
    <div class="card-body">
     <!--    <div class="btn-group ml-2">
            <button type="button" class="btn btn-info">{{tipoVal}}</button>
            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu scroll_list">
                <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="searchText">
                <li *ngFor="let item of filteredTipo | filter: searchText">
                    <a class="dropdown-item" (click)="selectTipo(item)">{{item.tarjeta }}</a>
                </li>
            </div>
        </div> -->
        <div>
            <p-table #dtable [value]="productos" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="false" [rows]="50"
                [globalFilterFields]="['nomart', 'marca']" [loading]="cargandoProductos">
                <ng-template pTemplate="caption">
                    <div class="d-flex flex-row align-items-center">
                        <!-- Caja de búsqueda -->
                        <div class="search-container">
                            <div class="input-group">
                                <input type="text" class="form-control" 
                                    [(ngModel)]="terminoBusqueda"
                                    placeholder="Buscar productos..." 
                                    (keyup.enter)="buscarProductos(terminoBusqueda)" />
                                <div class="input-group-append">
                                    <p-button icon="pi pi-search" styleClass="p-button-sm p-button-info ml-1" 
                                        (click)="buscarProductos(terminoBusqueda)" [disabled]="cargandoProductos"></p-button>
                                    <p-button icon="pi pi-times" styleClass="p-button-sm p-button-secondary ml-1" 
                                        (click)="limpiarBusqueda()" *ngIf="terminoBusqueda" [disabled]="cargandoProductos"></p-button>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Botón exportar Excel -->
                        <div class="ml-2">
                            <p-button icon="pi pi-file-excel" (click)="exportExcel()"
                                styleClass="p-button-success"></p-button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nomart" style="width:30%">Nomart<p-sortIcon field="nomart"></p-sortIcon>
                        </th>
                        <th pSortableColumn="marca" style="width:15%">Marca<p-sortIcon field="marca"></p-sortIcon></th>
                      <!--   <th *ngIf="prefi0" pSortableColumn="precon" style="width:10%">Precio<p-sortIcon
                                field="precon"></p-sortIcon></th>
                        <th *ngIf="prefi1" pSortableColumn="prefi1" style="width:10%">Precio<p-sortIcon
                                field="prefi1"></p-sortIcon></th>
                        <th *ngIf="prefi2" pSortableColumn="prefi2" style="width:10%">Precio<p-sortIcon
                                field="prefi2"></p-sortIcon></th>
                        <th *ngIf="prefi3" pSortableColumn="prefi3" style="width:10%">Precio<p-sortIcon
                                field="prefi3"></p-sortIcon></th>
                        <th *ngIf="prefi4" pSortableColumn="prefi4" style="width:10%">Precio<p-sortIcon
                                field="prefi4"></p-sortIcon></th> -->
                        <th pSortableColumn="exi1" style="width:10%">Stk Dep<p-sortIcon field="exi1"></p-sortIcon></th>
                        <th pSortableColumn="exi2" style="width:10%">Stk CC<p-sortIcon field="exi2"></p-sortIcon></th>
                        <th pSortableColumn="exi3" style="width:10%">Stk VV<p-sortIcon field="exi3"></p-sortIcon></th>
                        <th pSortableColumn="exi4" style="width:10%">Stk GM<p-sortIcon field="exi4"></p-sortIcon></th>
                        <th pSortableColumn="exi5" style="width:10%">Stk May<p-sortIcon field="exi5"></p-sortIcon></th>
                        <th style="width:20%">Select</th>
                        <th style="width: 5rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-producto>
                    <tr>
                        <td>{{ producto.nomart }}</td>
                        <td>{{ producto.marca }}</td>
                      <!--   <td *ngIf="prefi0">{{ producto.precon }}</td>
                        <td *ngIf="prefi1">{{ producto.prefi1 }}</td>
                        <td *ngIf="prefi2">{{ producto.prefi2 }}</td>
                        <td *ngIf="prefi3">{{ producto.prefi3 }}</td>
                        <td *ngIf="prefi4">{{ producto.prefi4 }}</td> -->
                        <td>{{ producto.exi1 }}</td>
                        <td>{{ producto.exi2 }}</td>
                        <td>{{ producto.exi3 }}</td>
                        <td>{{ producto.exi4 }}</td>
                        <td>{{ producto.exi5 }}</td>
                        <td>
                            <p-button icon="pi pi-cart-plus" (click)="selectProducto(producto)"
                                styleClass="p-button-sm p-button-info"> </p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <!-- Paginación personalizada -->
            <div class="pagination-container mt-3 d-flex justify-content-between align-items-center">
                <div>
                    <span class="pagination-info">
                        Mostrando página {{ paginaActual }} de {{ totalPaginas }} | Total: {{ totalItems }} productos
                    </span>
                </div>
                <nav aria-label="Page navigation" *ngIf="totalPaginas > 1">
                    <ul class="pagination mb-0">
                        <!-- Botón para primera página -->
                        <li class="page-item" [class.disabled]="paginaActual === 1">
                            <a class="page-link" href="javascript:void(0)" (click)="irAPagina(1)">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        
                        <!-- Botón página anterior -->
                        <li class="page-item" [class.disabled]="paginaActual === 1">
                            <a class="page-link" href="javascript:void(0)" (click)="paginaAnterior()">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        
                        <!-- Páginas numeradas -->
                        <li class="page-item" [class.active]="paginaActual === p" *ngFor="let p of getPaginasVisibles()">
                            <a class="page-link" href="javascript:void(0)" (click)="irAPagina(p)">{{ p }}</a>
                        </li>
                        
                        <!-- Botón página siguiente -->
                        <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
                            <a class="page-link" href="javascript:void(0)" (click)="paginaSiguiente()">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        
                        <!-- Botón para última página -->
                        <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
                            <a class="page-link" href="javascript:void(0)" (click)="irAPagina(totalPaginas)">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
