<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Conflistas</h4>
                <p-table #dtable [value]="conflistas" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true"
                    [rows]="10"
                    [globalFilterFields]="['listap','activa', 'precosto21', 'pordcto', 'margen', 'id_conflista']">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex">
                            <span class="p-input-icon-left ml-auto">
                                <input pInputText type="text"
                                    (input)="dtable.filterGlobal($any($event.target).value, 'contains')"
                                    placeholder="Buscar.." />
                            </span>
                            <p-button icon="pi pi-file-excel" (click)="exportExcel()"
                                styleClass="p-button-sm p-button-success ml-4"></p-button>
                            <p-button icon="pi pi-plus-circle" [routerLink]="['../newconflista']"
                                styleClass="p-button-sm p-button-info ml-2"></p-button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="listap">Lista<p-sortIcon field="listap"></p-sortIcon></th>
                            <th pSortableColumn="activa">Activa<p-sortIcon field="activa"></p-sortIcon></th>
                            <th pSortableColumn="precosto21">Costo 21<p-sortIcon field="precosto21"></p-sortIcon></th>
                            <th pSortableColumn="precosto105">Costo 105<p-sortIcon field="precosto105"></p-sortIcon></th>
                            <th pSortableColumn="preciof21">Precio F21<p-sortIcon field="preciof21"></p-sortIcon></th>
                            <th pSortableColumn="preciof105">Precio F105<p-sortIcon field="preciof105"></p-sortIcon></th>
                            <th pSortableColumn="pordcto">Descuento<p-sortIcon field="pordcto"></p-sortIcon></th>
                            <th pSortableColumn="margen">Margen<p-sortIcon field="margen"></p-sortIcon></th>
                            <th pSortableColumn="tipomone">Tipo Moneda<p-sortIcon field="tipomone"></p-sortIcon></th>
                            <th pSortableColumn="cod_marca">Marca<p-sortIcon field="cod_marca"></p-sortIcon></th>
                            <th pSortableColumn="fecha">Fecha<p-sortIcon field="fecha"></p-sortIcon></th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-conflista>
                        <tr>
                            <td>{{ conflista.listap }}</td>
                            <td>{{ conflista.activa ? 'Si' : 'No' }}</td>
                            <td>{{ conflista.precosto21 }}</td>
                            <td>{{ conflista.precosto105 }}</td>
                            <td>{{ conflista.preciof21 }}</td>
                            <td>{{ conflista.preciof105 }}</td>
                            <td>{{ conflista.pordcto }}</td>
                            <td>{{ conflista.margen }}</td>
                            <td>{{ conflista.tipomone }}</td>
                            <td>{{ conflista.cod_marca }}</td>
                            <td>{{ conflista.fecha | date:'dd/MM/yyyy' }}</td>
                            <td>
                                <p-button icon="pi pi-pencil" styleClass="p-button-sm p-button-help"
                                    (click)="editConflista(conflista)"></p-button>
                            </td>
                            <td>
                                <p-button icon="pi pi-trash" styleClass="p-button-sm p-button-danger"
                                (click)="confirmDelete(conflista)"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
