<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="articuloForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                    <div class="form-body">
                        <h3 class="box-title">Editar Artículo</h3>
                        <hr class="m-t-0 m-b-40">
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div *ngIf="this.nomartFlag" class="form-group row has-danger">
                                    <label class="control-label text-right col-md-3">Nombre</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" formControlName="nomart" placeholder="">
                                        <small class="form-control-feedback">Máximo 80 caracteres</small>
                                    </div>
                                </div>
                                <div *ngIf="!this.nomartFlag" class="form-group row">
                                    <label class="control-label text-right col-md-3">Nombre</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" formControlName="nomart" placeholder="">
                                        <small class="form-control-feedback">Máximo 80 caracteres</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Marca</label>
                                    <div class="col-md-9">
                                        <select class="form-control" formControlName="marca">
                                            <option value="">Seleccione una Marca</option>
                                            <option *ngFor="let marca of marcas" [value]="marca.marca.trim()">
                                                {{ marca.marca }}
                                            </option>
                                        </select>
                                        <small class="form-control-feedback">Seleccione la marca del artículo</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Agregar después de la fila que contiene marca y antes de la fila con rubro -->
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label class="control-label text-right col-md-3">Código Artículo</label>
            <div class="col-md-9">
                <input type="number" class="form-control" formControlName="cd_articulo" placeholder="">
                <small class="form-control-feedback">Valor numérico entero (máx. 6 dígitos)</small>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            <label class="control-label text-right col-md-3">Código Depósito</label>
            <div class="col-md-9">
                <input type="number" class="form-control" formControlName="cod_deposito" placeholder="">
                <small class="form-control-feedback">Valor numérico entero (máx. 2 dígitos)</small>
            </div>
        </div>
    </div>
</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Rubro</label>
                                    <div class="col-md-9">
                                        <select class="form-control" formControlName="rubro">
                                            <option value="">Seleccione un Rubro</option>
                                            <option *ngFor="let rubro of rubros" [value]="rubro.cod_rubro">
                                                {{ rubro.rubro }}
                                            </option>
                                        </select>
                                        <small class="form-control-feedback">Seleccione el rubro del artículo</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div *ngIf="this.cd_barraFlag" class="form-group row has-danger">
                                    <label class="control-label text-right col-md-3">Código de Barra</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" formControlName="cd_barra" placeholder="">
                                        <small class="form-control-feedback">Máximo 13 caracteres</small>
                                    </div>
                                </div>
                                <div *ngIf="!this.cd_barraFlag" class="form-group row">
                                    <label class="control-label text-right col-md-3">Código de Barra</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" formControlName="cd_barra" placeholder="">
                                        <small class="form-control-feedback">Máximo 13 caracteres</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Precio Costo</label>
                                    <div class="col-md-9">
                                        <input type="number" step="0.01" class="form-control" formControlName="precon" placeholder="">
                                        <small class="form-control-feedback">Valor numérico con hasta 2 decimales</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Precio Final 1</label>
                                    <div class="col-md-9">
                                        <input type="number" step="0.01" class="form-control" formControlName="prefi1" placeholder="">
                                        <small class="form-control-feedback">Valor numérico con hasta 2 decimales</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Precio Base s/IVA</label>
                                    <div class="col-md-9">
                                        <input type="number" step="0.01" class="form-control" formControlName="prebsiva" placeholder="">
                                        <small class="form-control-feedback">Valor numérico con hasta 2 decimales</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Margen</label>
                                    <div class="col-md-9">
                                        <input type="number" step="0.01" class="form-control" formControlName="margen" placeholder="">
                                        <small class="form-control-feedback">Valor numérico con hasta 2 decimales</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Existencia Suc1</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" formControlName="exi1" placeholder="">
                                        <small class="form-control-feedback">Valor numérico entero</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Stock Mín Suc1</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" formControlName="stkmin1" placeholder="">
                                        <small class="form-control-feedback">Valor numérico entero</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Stock Máx Suc1</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" formControlName="stkmax1" placeholder="">
                                        <small class="form-control-feedback">Valor numérico entero</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Código IVA</label>
                                    <div class="col-md-9">
                                        <select class="form-control" formControlName="cod_iva">
                                            <option value="">Seleccione un Tipo de IVA</option>
                                            <option *ngFor="let iva of tiposIva" [value]="iva.cod_iva">
                                                {{ iva.descripcion }}
                                            </option>
                                        </select>
                                        <small class="form-control-feedback">Seleccione el tipo de IVA</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Estado</label>
                                    <div class="col-md-9">
                                        <select class="form-control" formControlName="estado">
                                            <option value="AC">Activo</option>
                                            <option value="IN">Inactivo</option>
                                        </select>
                                        <small class="form-control-feedback">Estado del artículo</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Proveedor</label>
                                    <div class="col-md-9">
                                        <select class="form-control" formControlName="cd_proveedor">
                                            <option value="">Seleccione un Proveedor</option>
                                            <option *ngFor="let proveedor of proveedores" [value]="proveedor.id_prov">
                                                {{ proveedor.nombre }}
                                            </option>
                                        </select>
                                        <small class="form-control-feedback">Seleccione el proveedor</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-success" [disabled]="!articuloForm.valid">Actualizar</button>
                                        <button type="button" class="btn btn-inverse" (click)="onCancel()">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
