<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="articuloForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                    <div class="form-body">
                        <h3 class="box-title">Editar Artículo</h3>
                        <hr class="m-t-0 m-b-40">
                        
                        <!-- SECCIÓN DATOS DEL ARTÍCULO -->
                        <div class="card mb-4">
                            <div class="card-header bg-info text-white">
                                <h4 class="mb-0"><i class="fa fa-info-circle"></i> Datos del Artículo</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div *ngIf="this.nomartFlag" class="form-group row has-danger">
                                            <label class="control-label text-right col-md-3">Nombre *</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" formControlName="nomart" placeholder="">
                                                <small class="form-control-feedback">Máximo 80 caracteres</small>
                                            </div>
                                        </div>
                                        <div *ngIf="!this.nomartFlag" class="form-group row">
                                            <label class="control-label text-right col-md-3">Nombre *</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" formControlName="nomart" placeholder="">
                                                <small class="form-control-feedback">Máximo 80 caracteres</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Marca *</label>
                                            <div class="col-md-9">
                                                <select class="form-control" formControlName="marca">
                                                    <option value="">Seleccione una Marca</option>
                                                    <option *ngFor="let marca of marcas" [value]="marca.marca.trim()">
                                                        {{ marca.marca }}
                                                    </option>
                                                </select>
                                                <small class="form-control-feedback">Seleccione la marca del artículo</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Código Artículo *</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="cd_articulo" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero (máx. 6 dígitos)</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Código Depósito *</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="cod_deposito" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero (máx. 2 dígitos)</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Rubro *</label>
                                            <div class="col-md-9">
                                                <select class="form-control" formControlName="rubro">
                                                    <option value="">Seleccione un Rubro</option>
                                                    <option *ngFor="let rubro of rubros" [value]="rubro.cod_rubro">
                                                        {{ rubro.rubro }}
                                                    </option>
                                                </select>
                                                <small class="form-control-feedback">Seleccione el rubro del artículo</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div *ngIf="this.cd_barraFlag" class="form-group row has-danger">
                                            <label class="control-label text-right col-md-3">Código de Barra</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" formControlName="cd_barra" placeholder="">
                                                <small class="form-control-feedback">Máximo 13 caracteres</small>
                                            </div>
                                        </div>
                                        <div *ngIf="!this.cd_barraFlag" class="form-group row">
                                            <label class="control-label text-right col-md-3">Código de Barra</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" formControlName="cd_barra" placeholder="">
                                                <small class="form-control-feedback">Máximo 13 caracteres</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Estado *</label>
                                            <div class="col-md-9">
                                                <select class="form-control" formControlName="estado">
                                                    <option [value]="'AC'">Activo</option>
                                                    <option [value]="'IN'">Inactivo</option>
                                                </select>
                                                <small class="form-control-feedback">Estado del artículo</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Proveedor</label>
                                            <div class="col-md-9">
                                                <select class="form-control" formControlName="cd_proveedor">
                                                    <option value="">Seleccione un Proveedor</option>
                                                    <option *ngFor="let proveedor of proveedores" [value]="proveedor.id_prov">
                                                        {{ proveedor.nombre }}
                                                    </option>
                                                </select>
                                                <small class="form-control-feedback">Seleccione el proveedor</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">ID Artículo</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="idart" placeholder="">
                                                <small class="form-control-feedback">ID interno del artículo</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Artículo</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="articulo" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        
                        <!-- SECCIÓN PRECIOS -->
                        <div class="card mb-4">
                            <div class="card-header bg-success text-white">
                                <h4 class="mb-0"><i class="fa fa-money"></i> Información de Precios</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="precostosi">Precio Costo s/IVA *</label>
                                        <input type="number" class="form-control" id="precostosi" formControlName="precostosi" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="descuento">Descuento *</label>
                                        <input type="number" class="form-control" id="descuento" formControlName="descuento" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="prebsiva">Precio Base s/IVA *</label>
                                        <input type="number" class="form-control" id="prebsiva" formControlName="prebsiva" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="margen">Margen *</label>
                                        <input type="number" class="form-control" id="margen" formControlName="margen" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="cod_iva">Código IVA *</label>
                                        <select class="form-control" id="cod_iva" formControlName="cod_iva" required>
                                            <option value="">Seleccione un Tipo de IVA</option>
                                            <option *ngFor="let iva of tiposIva" [value]="iva.cod_iva">
                                                {{ iva.descripcion }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="cod_mon">Tipo Moneda *</label>
                                        <select class="form-control" id="cod_mon" formControlName="tipo_moneda" required>
                                            <option value="">Seleccione un Tipo de Moneda</option>
                                            <option *ngFor="let moneda of tiposMoneda" [value]="moneda.cod_mone">
                                                {{ moneda.moneda }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="precon">Precio Final *</label>
                                        <input type="number" class="form-control" id="precon" formControlName="precon" required>
                                    </div>
                                    <div class="form-group col-md-6 d-flex align-items-center">
                                        <div class="form-check mt-2">
                                            <input type="checkbox" class="form-check-input" id="preciosManualCheck"
                                                [ngModel]="articuloForm.get('idart')?.value === 1"
                                                (ngModelChange)="manejarCambioManual($event)"
                                                [ngModelOptions]="{standalone: true}">
                                            <label class="form-check-label" for="preciosManualCheck">
                                                Ingresar precios de lista manualmente
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <h4>Precios de Lista</h4>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="prefi1">Precio 1</label>
                                        <input type="number" class="form-control" id="prefi1" formControlName="prefi1" 
                                            [readonly]="articuloForm.get('idart')?.value !== 1">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="prefi2">Precio 2</label>
                                        <input type="number" class="form-control" id="prefi2" formControlName="prefi2" 
                                            [readonly]="articuloForm.get('idart')?.value !== 1">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="prefi3">Precio 3</label>
                                        <input type="number" class="form-control" id="prefi3" formControlName="prefi3" 
                                            [readonly]="articuloForm.get('idart')?.value !== 1">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="prefi4">Precio 4</label>
                                        <input type="number" class="form-control" id="prefi4" formControlName="prefi4" 
                                            [readonly]="articuloForm.get('idart')?.value !== 1">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- SECCIÓN STOCK -->
                        <div class="card mb-4">
                            <div class="card-header bg-warning text-white">
                                <h4 class="mb-0"><i class="fa fa-cubes"></i> Información de Stock</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Existencia Suc1</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="exi1" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Existencia Suc2</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="exi2" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Existencia Suc3</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="exi3" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Existencia Suc4</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="exi4" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Existencia Suc5</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="exi5" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <hr class="mt-3">
                                <h5 class="mb-3">Stock Mínimo y Máximo</h5>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Mín Suc1</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkmin1" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Máx Suc1</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkmax1" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Mín Suc2</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkmin2" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Máx Suc2</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkmax2" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Mín Suc3</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkmin3" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Máx Suc3</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkmax3" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Mín Suc4</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkmin4" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Máx Suc4</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkmax4" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Mín Suc5</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkmin5" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Máx Suc5</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkmax5" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <hr class="mt-3">
                                <h5 class="mb-3">Stock Punto de Reposicion</h5>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Prep Suc1</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkprep1" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Prep Suc2</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkprep2" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Prep Suc3</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkprep3" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Prep Suc4</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkprep4" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Stock Prep Suc5</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" formControlName="stkprep5" placeholder="">
                                                <small class="form-control-feedback">Valor numérico entero</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-success" [disabled]="!articuloForm.valid">Actualizar</button>
                                        <button type="button" class="btn btn-inverse" (click)="onCancel()">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
